{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li class="nav-item py-2 ps-2 fs-5 text-center"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}

{% endblock sidenav %}
{% block content %}
    <H1>Book Detail</H1>

<div class="d-flex flex-column">
    <div class="container m-0">
    <div class="row justify-content-start">
        <div class="col p-0">
            <img src="{% static book.pic_path %}" height="400" width="325">
        </div>
        <div class="col fs-2 fw-medium text-center pt-3 ps-0">

        <table class="table table-secondary table-striped table-sm table-hover table-bordered border-black " border="3" >
            <tbody>
                <tr class="align-middle">
                    <th scope="row">Name</th>
                    <td>{{ book.name }}</td>


                </tr>
                <tr>
                    <th scope="row">Price</th>
                    <td>{{ book.price }}</td>
                </tr>
                <tr>
                    <th scope="row">Published Date</th>
                    <td>{{ book.publishdate }}</td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td>Ratings: {{ book.overallrating }}/5</td>
                </tr>

            </tbody>
        </table>

        </div>
    </div>
        <div class="row"><br></div>
    </div>
    <div class="row">
        <p class="fw-bolder">Rate this book:</p>
                <form action="ratebook/{{ book.id }}" method="post">
                    {% csrf_token %}
                    <div class="container w-25 p-0 m-0">
                    <select class="form-select w-50" name="rate">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                        <button class="btn btn-primary m-2" type="submit">Rate</button>
                    </div>

                </form>
    </div>
    <div class="row"><br></div>
    <h2>Comments</h2>
    <ul>
        {% for comment in comments %}
            <li style="list-style-type: none; padding: 0;">
                <strong>{{ comment.user.username }}</strong>
                {{ comment.content|linebreaks }}
                <small>Posted on {{ comment.created_at }}</small>
            </li><br>
        {% empty %}
            <p>This comment section is empty. Why not be the first to comment!</p>
        {% endfor %}
    </ul>
    <div class="flex-shrink-1">
    <a class="btn btn-primary p-2 btn-sm m-2" href="{% url 'comment_form' book.id %}">Leave a Comment</a>
    </div>
</div>
{% endblock content %}
