{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
    <li class="nav-item py-2 ps-2 fs-5 text-center"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

        <h1>Your Shopping Cart</h1>
        <div class="container p-0 m-0">
        {% if cart_items %}
        <table class="table col p-3 table-bordered border-dark table-hover">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td><strong>{{ item.book.name }}</strong></td>
                    <td>
                        <form action="{% url 'update_cart' item.id %}" method="POST">
                            {% csrf_token %}
                            <div class="container">
                            <input class="form-control m-0 p-0 text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" style="width: 20%;">
                            <button type="submit" class="btn btn-primary m-2">Update</button>
                            </div>
                        </form>
                    </td>
                    <td>${{ item.book.price }}</td>
                    <td>${{ item.total_price }}</td>
                    <td><a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <p class="total">Total: ${{ total }}</p>
        <div class="container-fluid w-25 mb-4 ms-5 pe-5 ps-0">
            <div class="d-flex justify-content-start">

                <a href="{% url 'displaybooks' %}" class="btn btn-primary m-2 btn-sm">Continue Shopping</a>
                <a href="{% url 'checkout' %}" class="btn btn-primary m-2 btn-sm">Proceed to Checkout</a>
            </div>
        </div>

        {% else %}
            <div class="container text-center py-5">

                <div class="row mb-4">
                    <div class="col">
                        <p class="empty-cart fs-4 text-muted">Your cart is currently empty.</p>
                        <p class="lead text-secondary">Why not explore our collection of books and find something you like?</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a href="{% url 'displaybooks' %}" class="btn btn-primary btn-lg">
                            <i class="bi bi-book"></i> Browse Books
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}


{% endblock content %}
