{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li class="nav-item py-2 ps-2 fs-5 text-center"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
    <h1>Checkout</h1>

    <form method="POST">
        {% csrf_token %}
        
        <fieldset>
            <legend>Billing Information</legend>
            {{ form.full_name.label_tag }}<br>
            {{ form.full_name }}<br><br>

            {{ form.address.label_tag }}<br>
            {{ form.address }}<br><br>

            {{ form.contact_number.label_tag }}<br>
            {{ form.contact_number }}<br><br>
        </fieldset>

        <fieldset>
            <legend>Payment Options</legend>
            {{ form.payment_method }}
        </fieldset>

        <fieldset>
            <legend>Order Summary</legend>
            <table>
                <tr>
                    <th>Book</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.book.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.book.price }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
                {% endfor %}
            </table>
            <p class="total"><strong>Total:</strong> ${{ total_price }}</p>
        </fieldset>

        <button type="submit" class="button">Place Order</button>
    </form>
{% endblock content %}
