{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
    <li class="nav-item py-2 ps-2 fs-5"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}

{% endblock sidenav %}
{% block content %}
    <H1>Display Book</H1>

<div class="container d-flex justify-content-center mt-5">
<form class="d-flex" action="{% url 'searchbook' %}" method="post">

        {% csrf_token %}
        <label class="form-label my-0 fs-3" for="search">Search:&nbsp;</label>
        <input id="search" class="form-control" type="text" name="search" placeholder="Book Title">
        <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
<br>
<table class="table col p-3 table-bordered border-dark table-hover" border="2">
    {% for book in books %}
        <tr>
            <td class="text-center">
                <a class="fs-5" href="book_detail/{{ book.id }}">{{ book.name }}</a>
            </td>
            <td class="fs-5 text-center">{{ book.username }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
