{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
            <li class="nav-item py-2 ps-2 fs-5 "><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

    <h1>"{{ book.name }}" Comment:</h1>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">

                {{ comment_form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Post Comment</button>
        </form>
    {% else %}
        <p>You must log in to leave a comment.</p>
<!--<a href="{% url 'login' %}"</a>>-->
    {% endif %}
{% endblock content %}