{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
        <li><a href="{{item.link}}">{{item.item}}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}

    <h1>"{{ book.name }}" Comment:</h1>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
<!--             <label for="description">Add Headline:</label><br>-->
<!--             <input type="text" id="description" name="description"><br><br>-->

            <label>Your Comment:</label><br>
            {{ comment_form.content }}<br><br>

            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <p>You must log in to leave a comment.</p>
<!--<a href="{% url 'login' %}"</a>>-->
    {% endif %}
{% endblock content %}