{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
    <li class="nav-item py-2 ps-2 fs-5 text-center"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
    <H1 style="text-align:center"><strong>{{ search }}</strong></H1>

    {% if empty %}
        <div class="text-center">
        <h2 class="mt-3 text-muted">No Books Found</h2>
    </div>
    {% endif %}
    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for book in books %}
        <div class="col">
                <div class="card h-100" style="width: 100%;">
                    <img src="{% static book.pic_path %}" class="card-img-top" alt="{{ book.name }}" style="max-height: 300px;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><a href="book_detail/{{ book.id }}">{{ book.name }}</a></h5>
                        <p><strong>Uploaded by: {{ book.username }}</strong></p>
                        <form action="{% url 'add_to_cart' book.id %}" method="post" class="mt-auto">
                            {% csrf_token %}
                            <button type="submit" class="add-to-cart btn btn-primary w-100">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock content %}
