{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            My page title
        {% endblock title%}
    </title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<div class="banner">
        <img src="{% static 'banner.jpg' %}" alt="Banner Image" width="700" height="120">
    </div>





    <h1>Create a New Post</h1>

    <form action="{% url 'postcreate' %}" method="post">
          {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <a href="{% url 'postlist' %}">Back to Message Board</a>

</body>
</html>
