body {
    font-family: times-new-roman, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}
html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container {
    display: flex;
}

.menu-bar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 15px;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
}

.menu-bar ul li {
    margin-bottom: 10px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #333;
}
#sidebar.collapse {
    transition: width 0.3s ease;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container-fluid{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.row {
    flex-grow: 1; /* Allow the row to grow and fill the remaining height */
    display: flex;
    overflow: hidden; /* Prevent content overflow */
}

#sidebar-nav {
    height: 100%; /* Ensure the sidebar fills its container */
    overflow-y: auto; /* Allow vertical scrolling if content overflows */
    width: 200px; /* Fixed width for the sidebar */
}

main {
    flex-grow: 1; /* Allow the main content to take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling */
}