{% extends "base.html" %}
{% load static %}

{% block sidenav %}
    {% for item in item_list %}
    <li class="nav-item py-2 ps-3"><a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ item.link }}">{{ item.item }}</a></li>
    {% endfor %}
{% endblock sidenav %}

{% block content %}
    <H1>User Registration</H1>
    <div class="container px-0 mx-0">
    <form action="{% url 'login' %}" method="post">
        <table>
            {{ form.as_p }}
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </td>
            </tr>
        </table>
        <p>
            To register <a href="{% url 'register' %}"> Click Here </a>
        </p>
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
    </form>
    </div>
{% endblock content %}